* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.main-box {
    width: 70%;
    margin: 0 auto;
}

.main-box h1 {
    text-align: center;
    font-size: 50px;
    color: #363636;
    font-weight: bolder;
    margin: 20px 0;
}


.main-box .left-box {
    float: left;
    clear: both;
    padding: 30px 0;
}

.main-box .left-box h4 {
    padding-bottom: 5px;
}

.main-box .left-box label {
    display: block;
}

.main-box .right-box {
    float: right;


}

.main-box .right-box img {
    height: 200px;
}

.main-box .content-box {
    clear: both;

}

.main-box .content-box {
    padding-top: 30px;
}

.main-box .content-box p {
    margin-bottom: 20px;
    text-align: justify;
}

.main-box .content-box h5 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #363636;
    display: block;
}

.main-box .content-box ul {
    margin: 20px 20px 30px;
    list-style: none;
}

.main-box .content-box ul li {
    padding-bottom: 10px;
}

.main-box .content-box ul li a{
    color:dodgerblue;
    text-decoration: none;
    
}
